@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gilroy-Regular", sans-serif;
}

a {
  cursor: pointer;
}

.btn {
  background-color: #43a548;
}

.btn:hover {
  background: linear-gradient(100.98deg, #43a548 -4.14%, #52e259 108.69%);
}
.title {
  font-weight: 600;
  font-size: 28px;
  color: #2c2b35;
  font-family: "Gilroy-Bold";
}
.description:hover > span {
  color: #327f36;
}
.title_2:hover > span {
  color: #327f36;
}
.danix_box:hover > .dannix {
  color: #327f36;
}
.swiper-button-disabled {
  opacity: 50%;
}
img {
  display: block;
}
.footer_link:hover > span {
  color: #43a548;
  text-decoration: underline;
}
#podrobnoe > svg {
  transition: all 0.3s;
}
#podrobnoe:hover > svg {
  transform: translate(5px);
}
#podrobnoe > div {
  transition: all 0.3s;
}
#podrobnoe:hover > div {
  transform: translate(5px);
}
